body {
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

#search {
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#chart {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    bottom: 0;
}
