body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: calc(100vh - 2 * 8px);
    padding: 0;
    background: whitesmoke;
}

body > * {
    margin: 1em;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    margin-top: 2em;
}

.cards > div {
    --card-border-radius: 10px;
    --card-border-width: 2px;
    --card-border-color: lightgray;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1em;
    flex: 1;
    max-width: 400px;
    height: 200px;
    padding: var(--card-border-width);

    border-radius: var(--card-border-radius);
    background: var(--card-border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards > div > div {
    position: relative;
    width: calc(100% - 2 * var(--card-border-width));
    height: 100%;
    padding: var(--card-border-width);
    border-radius: inherit;
}

.cards > div::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /*noinspection CssUnresolvedCustomProperty*/
    background: radial-gradient(
            circle at var(--mouse-x) var(--mouse-y),
            rgb(255, 0, 0), rgb(255, 255, 0) 75%, rgb(0, 255, 0)
    );

    opacity: 0;
    transition: opacity 0.5s;
}

.cards > div.has-mouse-pos::after {
    opacity: 1;
}

@media (max-width: 850px) {
    .cards {
        flex-direction: column;
        /* width: max-content; */
        margin-left: auto;
        margin-right: auto;
    }

    .cards > div {
        width: 100%;
    }
}

.cards article {
    z-index: 2;
    position: relative;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    padding: 1em;
    background: white;
    border-radius: calc(var(--card-border-radius) - var(--card-border-width));
}

.cards article::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: -1;

    border-radius: inherit;
    left: 0;
    top: 0;

    /*noinspection CssUnresolvedCustomProperty*/
    background: radial-gradient(
        circle at var(--mouse-x) var(--mouse-y),
        rgb(255, 0, 0), rgb(255, 255, 0) 50%, rgb(0, 255, 0)
    );
    opacity: 0;
    transition: opacity 0.5s;
}

.cards article.has-mouse-pos::before {
    opacity: 0.1;
}

.cards div:hover article.has-mouse-pos::before {
    opacity: 0.5;
}

.cards :is(div.clicking, div:focus) article.has-mouse-pos::before {
    transition: opacity 0.2s ease-in;
    opacity: 1;
}

article h2 {
    margin-top: 0;
}

article a {
    align-self: flex-end;
}

footer {
    /*margin: 1em 0 0 0;*/
    margin: 0;
    position: relative;
    top: 1em;

    padding: 0 1em 0 1em;

    background: #f1f1f1;
    font-weight: lighter;
}

.new-indicator {
    font-weight: normal;
    color: red;
    font-size: small;
}

.new-indicator::before {
    content: ' ';
    font-size: medium;
}
