body {
    font-family: 'Times New Roman', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;

    --timeline-top: 60px;
}

#app {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

#search {
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#timeline-axis {
    position: fixed;
    top: var(--timeline-top);
    left: 0;
    height: 0;
    width: 100vw;
    border-top: 4px solid #000;
}

#timeline-container {
    position: absolute;
    top: var(--timeline-top);
    width: 100vw;
    height: 100%;
    /*height: calc(100% - 16px - 2 * 2px - 2 * 10px - 20px);*/
    overflow-x: auto;
    overflow-y: hidden;
}

#timeline {
    width: max-content;
    height: calc(100vh - var(--timeline-top));
}

.year {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow-y: auto;
}

.year {
    scrollbar-color: transparent transparent;
}
.year::-webkit-scrollbar-track, .year::-webkit-scrollbar-thumb {
    visibility: hidden;
}
.year::-webkit-scrollbar-thumb {
    --thumb-bg-color: transparent;
    background-color: var(--thumb-bg-color);
    transition: background-color 1s;
}
.year::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}
.year:hover {
    scrollbar-color: initial;
}
.year:hover::-webkit-scrollbar-track,
.year:hover::-webkit-scrollbar-thumb,
.year:focus::-webkit-scrollbar-track,
.year:focus::-webkit-scrollbar-thumb,
.year:active::-webkit-scrollbar-track,
.year:active::-webkit-scrollbar-thumb
{
    --thumb-bg-color: lightgrey;
    visibility: visible;
}

.year-marker {
    display: block;
    margin-left: calc(50% - 1px);
    width: 2px;
    height: 10px;
    margin-bottom: 20px;
    background-color: #000;
    flex-shrink: 0;
}

.year-number {
    display: none;
}

.entry {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-decoration: none;
    color: black;
    margin-bottom: 20px; /* Increased margin between two entries */
    opacity: 1;
    transition: opacity 0.3s;
}

.entry-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px; /* Reduced margin or could use padding between entry name/date and authors */
}

.entry-authors {
    display: block;
    transition: max-height 0.3s;
    min-height: 0;
    max-height: 4em;
    overflow: hidden;
    flex-shrink: 1;
    text-overflow: ellipsis;
}

.entry:hover .entry-name {
    text-decoration: underline;
}

.entry .the-entry-name {
    color: blue;
}

.entry:visited .the-entry-name {
    color: purple;
}
