.loader {
    width: 48px;
    height: 40px;
    left: calc(50% - 24px);
    top: calc(25% - 20px);
    margin-top: 30px;
    display: inline-block;
    position: relative;
    background: #6F4E37;
    border-radius: 15% 15% 35% 35%;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 45px;
    top: 8px;
    border: 4px solid #6F4E37;
    width: 16px;
    height: 20px;
    border-radius: 0 4px 4px 0;
}

.loader::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    color: #000;
    top: -15px;
    left: 11px;
    box-sizing: border-box;
    animation: animloader 1s ease infinite;
}

/*noinspection ALL*/
@keyframes animloader {
    0% {
        box-shadow: 2px 0px rgba(0, 0, 0, 0), 12px 0px rgba(146, 142, 142, 0.3), 20px 0px rgba(0, 0, 0, 0);
    }
    50% {
        box-shadow: 2px -5px rgba(0, 0, 0, 0.5), 12px -3px rgba(0, 0, 0, 0.5), 20px -2px rgba(0, 0, 0, 0.6);
    }
    100% {
        box-shadow: 2px -8px rgba(0, 0, 0, 0), 12px -5px rgba(0, 0, 0, 0), 20px -5px rgba(0, 0, 0, 0);
    }
}
